%div.row-fluid
  %div.span4
    %nav#side-nav
      %ul
        %li
          %a(href="#about-awl" title="About Awl")<
            About Awl
        %li
          %a(href="#major-question" title="よくあるご質問")<
            よくあるご質問
        %li
          %a(href="#contact" title="お問い合わせ")<
            お問い合わせ
        %li
          %a(href="#" title="特定商取引に基づく表記")
            特定商取引に基づく表記
  %div.span8
    %article
      %h2>
        About Awl
      %div
        %p
          Awlっていうのはごにょごにょ。
      %h2>
        よくあるご質問
      %div
        %p
          質問はごにょごにょ。
      %h2>
        お問い合わせ
      %div
        %p
          お問い合わせもごにょごにょ。
      %h2>
        特定商取引に基づく表記
      %div
        %p
          ごにょ。
