#side-nav-wraper
  %nav#side-nav
    %ul
      %li
        %a(href="#top" title="About Awl")<
          About Awl
      %li
        %a(href="#major-question" title="よくあるご質問")<
          よくあるご質問
      %li
        %a(href="#contact" title="お問い合わせ")<
          お問い合わせ
      %li
        %a(href="#" title="特定商取引に基づく表記")
          特定商取引に基づく表記
%section#content-wraper
  .content
    Awlっていうのはごにょごにょ。
  .content
    よくある質問とかはごにょごにょ
  .content
    お問い合わせはこちらからですよ、ごにょごにょ。