%h3
  New Arrival & Hot Project

-# New Arrival用
  - @projects.each do |project| 
  - if project.slideshow? then #こういう書き方合ってるんかね？
    %h3= project.title
    %p= project.headline
    %img{:src => project.image_url}

#grid
  - @projects.each do |project|
    .item
      %h4= project.title
      %img{:src => project.image_url}
      %p
        目標金額:
        =project.target_amount
        %br
        現在金額:
        =project.total_amount

