#grid
  %h1
    プロジェクト一覧
  %br
  %button
    = link_to 'New Project', new_project_path
  - @projects.each do |project|
    .item
      %h4= project.title
      %img{:src => project.image_url}
      %p
        目標金額:
        =project.target_amount
        %br
        現在金額:
        =project.total_amount

