// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div#side-nav-wraper {
  background-color:rgb(245,252,200);
  float:left;
  width:15%;
  nav#side-nav {
    
  }
}

section#content-wraper {
  background-color:rgb(222,153,120);
  margin-left:20px;
  width:80%;
  float:left;
  .content {
    
  }
}