// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body#home {
  padding-top: 0;
  #cover {
    background-color: black;
    color: white;
    height: 430px;

    #bg {
      width: 100%;
      height: 100%;
      overflow: hidden;
      position: absolute;
      top: 0;
      left: 0;
      background: transparent;
      background-position: top center;
      background-image: url("http://cambelt.co/430x430");
      background-repeat: repeat-x;

      #welcome {
        position: relative;
        z-index: 2;
        background-color: black;
        height: 390px;
        margin: 20px 0px;
        
        /* 各ブラウザ用に透明度セット */
        filter:alpha(opacity=80); /* For IE*/
        -moz-opacity: 0.8; /* For Mozilla (Firefox) */
        opacity: 0.8; /* For Webkit (Safari, Opera, Chome) */

        .container {
          margin: 0 auto;
          padding-top: 140px;
          
          h2#awl-phrase {
            font-size: 18px;
          }
        }
      }
    }
  }

  #navigation {
    .affix {
      width: auto;
      top: 0px;
    }
    .navbar {
      width: 100%;
    }

  }
}
@media (max-width: 767px) {
  body#home {
    padding-right: 0;
    padding-left: 0;

    .navbar-static-top {
      margin: 0;
    }

    .container {
      padding-right: 20px;
      padding-left: 20px;
    }

    #cover {
      height: 200px;
      
      #bg {
        height: 200px;
        
        #welcome {
          height: 180px;
          margin: 10px 0px;
          .container {
            padding-top: 0px;

            h2#awl-phrase {
              font-size: 12px;
            }
          }
        }
      }
    }
  }
}
