// Place all the styles related to the mypage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body#mypage {
  hr {
    margin: 10px 0;
  }
  #user-info {
    background-color: white;
    padding: 10px;

    .span12 {
      margin-left: 0px;
      p {
        margin: 5px 0;
      }
    }

    #download {
      text-align: center;
    }
  }
  .project {
    background-color: white;
    margin-bottom: 20px;
    padding: 10px;

    .left-content {
      border-right: 1px solid #ddd;
      text-align: center;

      .project-title {
        margin: 0px;
      }
    }

    .span12 {
      margin-left: 0px;
    }

    #partner {
      border-right: 1px solid #ddd;
    }
  }
}
