// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body#project-page {
  .content {
    background-color: #eee;
  }
  #right {
    padding:0%;
    border-radius: 0px;        /* CSS3草案 */
    -webkit-border-radius: 0px;    /* Safari,Google Chrome用 */
    -moz-border-radius: 0px;   /* Firefox用 */

    #support-data{
      padding:3%;
    }
    #progress{
      padding:3%;
    }
    #amount {
      padding:3%;
    }
    #rewards {
      padding:3%;
    }

    #reward-partner{
      border-style: solid;
      border-width:thin;
      text-align:center;
      padding:10px;
      margin-left:45%;
      margin-right:5%;
    }

    #button-support{
      text-align:center;
      width:100%;
      color:white;
      padding:5%;
      background-color:rgb(63,129,97);

    }

  }

  #project-image {}
  #project-desc {
    padding-left: 10px;

  }
  #partner {
    padding-left:10px;

    .user-icon {
      margin-bottom: 10px;
    }


    /*bootstrap-popoverに変えてみる
    div.user-icon:hover { /*マウスが乗ったら
      position: relative;
      top: 0px; left: 0px;
    }

    .comment {
      position: absolute;
      top:70px; left:20px;
      display: none;
      padding: 5px;
      width: 300px;
      font-weight: bold;
      text-decoration: none;
      color: #ffffff;
      background-color: #b22222;

      border-top:white solid 10px;
      border-left:#b22222 solid 10px;

      filter: alpha(opacity=85);
      -moz-opacity:0.85;
      opacity:0.85;
    }

    div.user-icon:hover .comment {
      display: block;
    }

    */
  }
}

body#procedure
{
  .payment-button
  {
    display: none;
  }

  #procedure_page_2
  {
    display: none;
  }
  .alert{
    display: none;
  }
  .input-amount
  {
    input.number {
      text-align: right;
    }
    #strong{
      font-size:large;
      font-weight: bold;
    }
    vertical-align:middle;
  }

  button#nextButton{
    align: right;
  }
}
