// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body#project-page {
  .content {
    background-color: #eee;
  }

  #project-image {}
  #project-desc {}
  #partner {
    .user-icon {
      margin-bottom: 10px;
    }

    div.user-icon:hover { /*マウスが乗ったら*/
      position: relative;
      top: 0px; left: 0px;
    }

    .comment {
      position: absolute;
      top:70px; left:20px;
      display: none;
      padding: 5px;
      width: 300px;
      font-weight: bold;
      text-decoration: none;
      color: #ffffff;
      background-color: #b22222;

      border-top:white solid 10px;
      border-left:#b22222 solid 10px;

      filter: alpha(opacity=85);
      -moz-opacity:0.85;
      opacity:0.85;
    }

    div.user-icon:hover .comment {
      display: block;
    }
  }
}

body#procedure
{
  .payment-submit
  {
    display: none;
  }

  #procedure_page_2
  {
    display: none;
  }
  .alert{
    display: none;
  }
  .input-amount
  {
    input.number {
      text-align: right;
    }
    #strong{
      font-size:large;
      font-weight: bold;
    }
    vertical-align:middle;
  }

  button#nextButton{
    align: right;
  }
}
